@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;700&display=swap");

.main-container * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 90%;
  gap: 60px;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 12px;
}

.main-container .map-container svg {
  width: 100%;
  height: 100vh;
}

.main-container .map-container svg:hover {
  cursor: pointer;
}

.main-container .gentlemen-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  color: #ffffff;
  position: relative;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s linear, opacity 0.4s linear;
}
.main-container .gentlemen-card:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .main-container .gentlemen-card:nth-child(2) {
    transform: translateX(50px);
  }
  .main-container .gentlemen-card:nth-child(4) {
    transform: translateX(-50px);
  }
}
.main-container .gentlemen-info {
  background-color: #9bc31c;
  padding: 10px 20px 10px 60px;
  border-radius: 10px;
  box-shadow: 6px 7px 34px 3px rgba(0, 0, 0, 0.54);
  -webkit-box-shadow: 6px 7px 34px 3px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 6px 7px 34px 3px rgba(0, 0, 0, 0.54);
}
.main-container .gentlemen-image {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-180%, -50%);
}

.main-container .gentlemen-image img {
  max-width: 110px;
  filter: drop-shadow(6px 9px 10px rgba(0, 0, 0, 0.46));
}

.main-container .bold {
  font-weight: 700;
}

.main-container .name {
  font-weight: 700;
  text-transform: uppercase;
}

.main-container .profession {
  font-style: italic;
  text-transform: uppercase;
}

.main-container .visible {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
    gap: 60px;
    margin: 0 auto;
    min-height: auto;
  }

  .main-container .map-container {
    width: -webkit-fill-available;
    margin: 0 auto;
    height: 100%;
  }

  .main-container .map-container svg {
    width: 100%;
    height: 100%;
  }

  .main-container .gentlemen-container {
    position: relative;
    width: 100%;
  }

  .main-container .gentlemen-card {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
  }

  .main-container .gentlemen-info {
    min-width: 230px;
  }

  .main-container .gentlemen-image {
    z-index: 2;
    position: absolute;
    left: -25%;
    right: auto;
    top: 50%;
    transform: translate(0, -50%);
  }
}
